<div class="card-deck">
  <% @pins.each do |pin| %>
  <div class="card">
    <%= link_to pin_path(pin) do %>
      <%= image_tag pin.image.url(:medium), class: "card-image-top" %>
    <% end %>
    <div class="card-block">
      <h4 class="card-title"><%= pin.title %></h4>
    </div>
    <div class="card-footer">
      <small class="text-muted">Submitted by <%= pin.user.email %></small>
    </div>
  </div>
  <% end %>
</div>
