<% @links.each do |link| %>
<div>
  <h2>
    <%= link_to link.title, link %><br>
    <small class="text-muted">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small><br>
    <div class="btn-group">
    	<%= link_to 'Visit link', link.url, class: "btn btn-secondary" %>
    </div>
  <h2>
  <hr class="my-4">
</div>
<% end %>
